

.table-css{
    width:200px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.3);
    border-radius:20px;
    border-collapse:collapse;
    font-family:roboto;
}

.Enunciado{
    background-color:#019879;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:20px;
    font-family:arial;

}


.Enunciado td:first-child{
    border-top-left-radius: 20px;
}


.Enunciado td:last-child{
    border-top-right-radius: 20px; 
}
.table-css td:first-child{
    width:5%;
    border-right:1px solid rgba(129, 128, 128, 0.3);
}

#td-mid-child{
    border-right:1px solid rgba(129, 128, 128, 0.3);
}

.table-css td:last-child{
    width:5%;
}

.button{
    padding:15px 15px;
    background-color:#019879;
    border-color:#019879;
    font-family:roboto;
    text-decoration:none;
    color:white;
    border-radius:10px;
}

.button:hover{
    transition-duration:0.4s;
    background-color:#08c29d;
    color:white;
}

span{
    font-family:roboto;
    font-size:18px;
    font-weight:bold;
    line-height:50px;
}

.pesquisa{
    border-radius:15px;
    border:1px solid green;
    margin-right:10px;
    padding:3px 10px;
}